.App {
  font-family: sans-serif;
  text-align: center;
  color: #f1f2f6;
}
body {
  margin-top: 10% !important;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #000000; 
}

.result {
  margin-top: 20px;
}

.options {

  cursor: pointer;
  border: 2px solid rgb(182, 178, 178);
  width: 30%;
  margin-left: 35% !important;
  
}

.selected {
  background: linear-gradient(to right, #30b9f0, #0777aa) !important;

}

ul {
  list-style-type: none;
}
