* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #111;
  padding: 0 16px;
}
/* app styling start */

.App {
  
  /* text-align: center; */
  color: #fff
 
}

 .App .question{
  
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}
/* .App p{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
   
} */

/* app styling end */





/* after quiz style */
.remaining{
  position: absolute;
  right: 20px;
  top:90px;
  color:#ffc93c;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;

}
.result {
  margin-top: 20px;
  text-align: center;

  
}
.result .over{
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
}
.result .score{
  color: #ffc93c;
}

.result .answerintro{
  font-size: 1.2rem;
  color: #00bcd4;
}





/* next button style */
.inverted{
  margin-top: 30px !important;
  margin-left: 160px !important;
}


/* header part styling */
#logo{
  font-size:40px;
}
header {
  background-color:#343a40;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 orange;
  margin-bottom: 50PX;
  
  
}
header h1{
  color: #e1eaea;
}
header h1 .head{
  color: orange;
}




/* options style */
.options {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border: 2px solid rgb(182, 178, 178);
  width: 200px;
  margin-left: 30px !important;
 
  margin-top: 30px !important;
  
}

.selected {
  background: linear-gradient(to right, #30b9f0, #0777aa) !important;

}





/* walkthrough styling */
ul {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: bolder;
}


