.container { 
    height: 200px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }






.Answers{
    list-style: none;
    margin:0;
    padding: 0;
   width: 100%;
  place-items: center;

}



.Answers li{
    width: 100%;
    padding: 10px;
    background-color: #4a47a3;
    color: #fff;
    margin: 0 0px 10px;
    width:200px;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
   
    
}
.Answers li:hover{
    cursor: pointer;
    background-color: #40a8c4;
}
.Answers .correct,
.Answers .correct:hover {
    background-color: #c4fb6d;
     font-weight: bolder;
    color: #111;
}
.Answers .incorrect,
.Answers .incorrect:hover {
    background-color: #ec0101;
    font-weight: bolder;
    color: #fff;
}
.Answers[disabled] {
    pointer-events: none;
    opacity: 0.7;
}

.answeresult{
    color: orange;
    font-size: 1.5rem;
    font-weight: bold;
}


